{%extends 'base.html'%}
{% load crispy_forms_tags %}
{% load staticfiles %}

    {% block title %}
        <title>Change Password</title>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'style/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style/revolution/css/navigation.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style/type/icons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style/css/font/font5.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i%7CVidaloka" rel="stylesheet">
    {% endblock %}

    {% block content %}
<hr>
        <br>
  <div class="row justify-content-center">

        <div class="card-body" style="text-align: center">
          <h2>Reset your password</h2>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-full-rounded">Send confirmation link</button>
          </form>


    </div>
  </div>
<br>
{% endblock %}

    {% block javascript %}
        <script src="{% static "style/js/jquery.min.js" %}"></script>
        <script src="{% static "style/js/bootstrap.min.js" %}"></script>
        <script src="{% static "style/js/plugins.js" %}"></script>
        <script src="{% static "style/js/scripts.js" %}"></script>
    {% endblock %}